{{#partial "content"}}

    {{#if assignSquads}}
            <form action="/heroes/{{assignSquads.id}}/assign" method="post">
                <select name="squad" id="squad" class="form-control">
            {{#each assignSquads}}
                    <option value="{{name}}"></option>
            {{/each}}
                </select>
                <button type="submit" class="btn btn-success"><strong>Assign</strong></button>
            </form>
    {{else}}
        <p>select hero</p>
    {{/if}}
{{/partial}}
{{>layout.hbs}}