{{#partial "content"}}
    <p>{{heroes.name}}</p>
    {{#if assign}}

        {{#each squads}}
            <form action="/heroes/{{id}}/assign" method="post">
                <select name="squad" id="squad">
                    <option value="{{squads.name}}"></option>
                </select>
            </form>
        {{/each}}
    {{/if}}
{{/partial}}
{{>layout.hbs}}