{{#partial "content"}}

    <strong><h3>Add New hero</h3></strong>

    <form action="/squad/new" method="post">
        <div class="form-group">
            <input type="text" placeholder="Squad Name" id="name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Cause" name="cause" id="cause" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{{/partial}}
{{>layout.hbs}}